/* fonts.css */

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://banglawebfonts.pages.dev/css/kalpurush.css");

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bangla {
  font-family: Kalpurush, serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
