/* src/styles/colors.css */

/* 

color variable 
[use as like tailwind calss]

ClassName=" text-[var(--color-text)] hover:text-[var(--color-text-hover)] bg-[var(--color-bg)] "

[always use as like this in tailwind class]

*/

/* ── Light (default) ── */
:root {
  --color-bg: #ffffff;
  --color-text: #1f2125;
  --color-gray: #9ca3af;
  --color-text-hover: #2563eb;

  --color-active-border: rgba(15, 23, 42, 0.2);
  --color-active-bg: rgba(15, 23, 42, 0.1);
  --color-active-text: #13161c;
}

/* ── Dark ── */
[data-theme="dark"] {
  /* App */
  --color-bg: #1f2125;
  --color-text: #ffffff;
  --color-gray: #90a1b9;
  --color-text-hover: #3b82f6;

  --color-active-border: rgba(248, 249, 250, 0.2);
  --color-active-bg: rgba(248, 249, 250, 0.1);
  --color-active-text: #ffffff;
}

/* styles */
